@import "../../main.styl"
// app-header
//   color #bada55
.yellow-footer
	background-color:app-yellow
	height:buttom-tab-height
	line-height:buttom-tab-height
	text-align:center
	font-size:28px
	position:fixed
	bottom:0
	width:100%
	color:app-white