.pane
	overflow:hidden
.pane img
	width:40px
	position:absolute;
	margin:auto;
	top:0;right:0;left:0;bottom:0;
.pane div
	padding:3px
	position:relative
.pane div div:nth-child(2)
	margin-top:6px
@media screen and (min-width: 320px)
	.pane-left a div:nth-child(1)
	.pane-right a div:nth-child(2)
		height:180px
	.pane-left a div:nth-child(2)
	.pane-right a div:nth-child(1)
		height:200px
@media screen and (min-width: 375px)
	.pane-left a div:nth-child(1)
	.pane-right a div:nth-child(2)
		height:220px
	.pane-left a div:nth-child(2)
	.pane-right a div:nth-child(1)
		height:200px
@media screen and (min-width: 414px)
	.pane-left a div:nth-child(1)
	.pane-right a div:nth-child(2)
		height:230px
	.pane-left a div:nth-child(2)
	.pane-right a div:nth-child(1)
		height:200px



	
