@import "../../main.styl"
// app-header
//   color #bada55
.index-header
	background-color:app-green
	color:white
	font-size:.7rem
	text-align:center
.header-right
	display:inline-block
	
.header-left
	display:inline-block
	
	
.header-center
	display:inline-block
	
#search-input
	border-radius:3px
.input-group span{
	// display:inline-block
}