

app-green = rgb(85,182,111)
text-gray = rgb(160,160,160)
line-gray = rgb(219,219,219)
app-yellow = rgb(247,181,43)
app-white = rgb(253,253,253)
line-color = rgb(229,229,229)
input-height = 1.1rem
tab-color = #efefef
poem-green = #bada55
poem-yellow = yellow
poem-gray = gray 
poem-white = white
poem-red = red
poem-line-color = grey
poem-text-gray = gray
poem-text-black = black
section-margin = 15px
section-padding = 0.4rem


html, body
  font-family SimHei, Arial, sans-serif
  padding:0;
  margin:0
  color:text-gray

li
  list-style:none;
ul
  padding-left:0

.view
  transition all .4s ease
  position absolute
  &.v-enter
    opacity 0
    -webkit-transform translate3d(100px, 0, 0)
    transform translate3d(100px, 0, 0)
  &.v-leave
    opacity 0
    -webkit-transform translate3d(-100px, 0, 0)
    transform translate3d(-100px, 0, 0)

.poem-btn-green
  font-size:.4rem
  background-color:app-green
  border-radius:10px
  height:1rem
  line-height:1rem
  width:8rem
  margin:30px auto
  text-align: center;
  color:white
  
.poem-input-box
  margin:0 auto;
  width:9.5rem;
  background-color:#fff
  border:line-gray 1px solid
  color:text-gray
  &>div
    height:input-height+0.2rem
    line-height:input-height+0.2rem
    border-bottom:solid 1px line-gray
  & input
    outline:none !important
    height:(input-height)
    border:none
    font-size:.4rem
    height:input-height
  
.poem-hidden
  display:none
  
.poem-mask
  position: fixed
  bottom: 0
  width: 100%
  height:100%
  width: 100%
  background-color:grey
  opacity:0.5
  animation:showMask 0.2s;
  -moz-animation:showMask 0.2s; /* Firefox */
  -webkit-animation:showMask 0.2s; /* Safari and Chrome */
  -o-animation:showMask 0.2s; /* Opera */

.flex-view
  -webkit-box-orient:vertical
  -webkit-box-direction:normal
  flex-direction:column;
  height:100%
  display: flex

.small-icon
  width: .6rem
  height: .6rem

  
@keyframes showMask
  from 
    background:#ffffff
  to 
    background:grey

@-moz-keyframes showMask /* Firefox */
  from 
    background:#ffffff
  to 
    background:grey